/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik Mono One', sans-serif;
}

html {
    scroll-behavior: smooth;
  }

/* STYLE LIST */
nav{
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 10;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;  
    text-align: center;
}

li a{
    line-height: 50px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

/* LAYOUT SECTIONS */
.section{
    height: 100vh;
    position: relative;
}

.section.one{
    background-color: red;
}

.section.two{
    background-color: green;
}

.section.three{
    background-color: yellow;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 50px;
}

.content img{
    width: 100%;
}

.content h1{
    color: yellow;
    font-size: 35px;
}

.section.three h1{
    color: green;
}
